<head>
    <meta charset="UTF-8">
    <title>Органайзер | <%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="https://avatars.mds.yandex.net/i?id=dfb0a4293639c7e0f83c3970a4dfef9468807117-11004510-images-thumbs&n=13">
  </head>