<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <form id="contact-form" method="post" action="/add-post">
    <div class="form-info">
      <label>Название нового дела
        <input type="text" name="title">
      </label>
      <label>Автор
        <input type="text" name="author">
      </label>
      <label>Дата окончания
        <input type="date" name="endDate">
      </label>
    </div>
    <div class="form-text">
      <label>Текст
        <textarea name="text"></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Добавить">
    </div>
  </form>
</body>
</html>