@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Vina+Sans&display=swap');

*{
    text-decoration: none;
    margin: 0%;
}

body{
    /* background-color: #e8e8e8; */
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2023-02/1676545986_catherineasquithgallery-com-p-fon-polinnogo-tsveta-231.jpg');
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: #202020; */
    background-color: rgba(32, 32, 32, 0.8);
    height: 100px;
}
.header-logo{
    font-size: 30px;
    font-family: 'Vina Sans', sans-serif;
    color: #e8e8e8;
}
.logo-img{
    width: 170px;
    border-radius: 20px;
    margin: 10px;
    
}
.signin{
    padding: 10px;
    margin: 2px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #e8e8e8;
    transition: color 0.3s ease;
}
.signup{
    padding: 10px;
    margin: 2px;
    color: #e8e8e8;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid #e8e8e8;
    transition: color 0.3s ease;
}
.signup:hover{
    color: #c5c5c5;
}
.signin:hover{
    color: #c5c5c5;
}
.header-authorization{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-family: 'Vina Sans', sans-serif;
}
.new-case{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-new-case{
    /* width: 100%; */
}