<nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/posts">Мои дела</a></li>
      <li><a href="/add-post">Новое дело</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </nav>