<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1 style="margin-top: 100px; text-align: center;">органайзер</h1>
  <p style="text-align: center;">Сделано с помощью Node.js Express, EJS, MongoDB</p>
</body>
</html>